<?xml version="1.0"?>
<config>
    <modules>
        <Moh_Slider>
            <version>0.1.0</version>
        </Moh_Slider>
    </modules>
    <global>
        <blocks>
            <slider>
                <class>Moh_Slider_Block</class>
            </slider>
        </blocks>
    </global>
    <frontend>
        <routers>
            <slider> <!-- Nom du module -->
                <use>standard</use>
                <args>
                    <module>Moh_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout> <!-- Déclaration du layout -->
            <updates>
                <slider> <!-- Nom du module -->
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
</config>