<!--@subject Reminder form@-->
<!--@vars
{"var data.societe":"Sender Societe",
"var data.lastname":"Sender Lastame",
"var data.firstname":"Sender Firstname",
"var data.telephone":"Sender Telephone",
"var data.email":"Sender Email",
"var data.product1":"Sender Product 1",
"var data.product2":"Sender Product 2",
"var data.comment":"Comment"}
@-->
Name of the société/of the establishment: {{var data.societe}}
Last name: {{var data.lastname}}
First name: {{var data.firstname}}
Telephone: {{var data.telephone}}
Email address: {{var data.email}}
Product 1 for which you wish a demonstration : {{var data.product1}}
Product 2 for which you wish a demonstration : {{var data.product2}}

Comment: {{var data.comment}}