<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Promethean_Customer for Magento.
 *
 * @license All rights reserved
 * @author Caroline Framery <framery.caroline@laposte.net> <t>
 * @category Promethean
 * @package Promethean_Customer
 * @copyright Copyright (c) 2016 Caroline Framery (http://)
 */
-->
<config>
    <modules>
        <Promethean_Customer>
            <version>0.4.0</version>
        </Promethean_Customer>
    </modules>
    <global>
        <resources>
            <promethean_customer_setup>
                <setup>
                    <module>Promethean_Customer</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promethean_customer_setup>
        </resources>
        <models>
            <customer>
                <rewrite>
                    <address>Promethean_Customer_Model_Address</address>
                </rewrite>
            </customer>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <promethean_customer module="Promethean_Customer">
                    <file>promethean_customer.xml</file>
                </promethean_customer>
            </updates>
        </layout>
    </frontend>
</config>