<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Promethean_Faq>
            <version>1.0.2</version>
        </Promethean_Faq>
    </modules>
    <frontend>
        <routers>
            <faq>
                <use>standard</use>
                <args>
                    <module>Promethean_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </faq>
        </routers>
        <layout>
            <updates>
                <faq>
                    <file>promethean_faq.xml</file>
                </faq>
            </updates>
        </layout>
        <translate>
            <modules>
                <Promethean_Faq>
                    <files>
                        <default>Promethean_Faq.csv</default>
                    </files>
                </Promethean_Faq>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <faq after="Mage_Adminhtml">Promethean_Faq_Adminhtml</faq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <faq>
                    <file>promethean_faq.xml</file>
                </faq>
            </updates>
        </layout>
        <translate>
            <modules>
                <Promethean_Faq>
                    <files>
                        <default>Promethean_Faq.csv</default>
                    </files>
                </Promethean_Faq>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <faq>
                <class>Promethean_Faq_Block</class>
            </faq>
        </blocks>
        <helpers>
            <faq>
                <class>Promethean_Faq_Helper</class>
            </faq>
        </helpers>
        <models>
            <faq>
                <class>Promethean_Faq_Model</class>
                <resourceModel>faq_resource</resourceModel>
            </faq>
            <faq_resource>
                <class>Promethean_Faq_Model_Resource</class>
                <entities>
                    <faq>
                        <table>faq_questions</table>
                    </faq>
                    <cat>
                        <table>faq_categories</table>
                    </cat>
                    <cat_store>
                        <table>faq_categories_store</table>
                    </cat_store>
                </entities>
            </faq_resource>
        </models>
        <resources>
            <promethean_faq_setup>
                <setup>
                    <module>Promethean_Faq</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promethean_faq_setup>
        </resources>
    </global>
</config>