<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Promethean_System for Magento.
 *
 * @license All rights reserved
 * @author Caroline Framery <framery.caroline@laposte.net> <t>
 * @category Promethean
 * @package Promethean_System
 * @copyright Copyright (c) 2016 Caroline Framery (http://)
 */
-->
<config>
    <modules>
        <Promethean_System>
            <version>1.0.1</version>
        </Promethean_System>
    </modules>
    <global>
        <resources>
            <promethean_system_setup>
                <setup>
                    <module>Promethean_System</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promethean_system_setup>
        </resources>
        <helpers>
            <promethean_system>
                <class>Promethean_System_Helper</class>
            </promethean_system>
        </helpers>
    </global>
</config>