<?xml version="1.0"?>
<config>
    <modules>
        <ITwebexperts_AdminShipping>
            <version>1.0.0.11062015</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </ITwebexperts_AdminShipping>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_create_shipping_method_form>ITwebexperts_AdminShipping_Block_Sales_Order_Create_Shipping_Method_Form</sales_order_create_shipping_method_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <adminshipping>
                <class>ITwebexperts_AdminShipping_Helper</class>
            </adminshipping>
        </helpers>
        <models>
            <adminhtml>
                <rewrite>
                    <sales_order_create>ITwebexperts_AdminShipping_Model_Sales_Order_Create</sales_order_create>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <quote_address_total_shipping>ITwebexperts_AdminShipping_Model_Sales_Quote_Address_Total_Shipping</quote_address_total_shipping>
                </rewrite>
            </sales>
            <adminshipping>
                <class>ITwebexperts_AdminShipping_Model</class>
            </adminshipping>
        </models>
        <resources>
            <adminshipping_setup>
                <setup>
                    <module>ITwebexperts_AdminShipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminshipping_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ITwebexperts_AdminShipping>
                    <files>
                        <default>ITwebexperts_AdminShipping.csv</default>
                    </files>
                </ITwebexperts_AdminShipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <adminshipping>
                    <file>adminshipping.xml</file>
                </adminshipping>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <adminshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>adminshipping/carrier_adminshipping</model>
                <name>AdminShipping</name>
                <title>Admin Shipping</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>      
            </adminshipping>
        </carriers>
    </default>
</config>
