<?xml version="1.0"?>
<config>
    <modules>
        <Moh_Demo>
            <version>0.1.0</version>
        </Moh_Demo>
    </modules>
    <global>
        <blocks>
            <demo>
                <class>Moh_Demo_Block</class>
            </demo>
        </blocks>
    </global>
    <frontend>
        <routers>
            <demo> <!-- Nom du module -->
                <use>standard</use>
                <args>
                    <module>Moh_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </demo>
        </routers>
        <layout> <!-- Déclaration du layout -->
            <updates>
                <demo> <!-- Nom du module -->
                    <file>demo.xml</file>
                </demo>
            </updates>
        </layout>
    </frontend>
</config>