<?xml version="1.0"?>
<config>
    <modules>
        <Moh_Footer>
            <version>0.1.0</version>
        </Moh_Footer>
    </modules>
    <global>
        <blocks>
            <footer>
                <class>Moh_Footer_Block</class>
            </footer>
        </blocks>
    </global>
    <frontend>
        <routers>
            <footer> <!-- Nom du module -->
                <use>standard</use>
                <args>
                    <module>Moh_Footer</module>
                    <frontName>footer</frontName>
                </args>
            </footer>
        </routers>
        <layout> <!-- Déclaration du layout -->
            <updates>
                <footer> <!-- Nom du module -->
                    <file>footer.xml</file>
                </footer>
            </updates>
        </layout>
    </frontend>
</config>