<?xml version="1.0"?>
<config>
    <modules>
        <Moh_MenuEntete>
            <version>0.1.0</version>
        </Moh_MenuEntete>
    </modules>
    <global>
        <blocks>
            <menuentete>
                <class>Moh_MenuEntete_Block</class>
            </menuentete>
        </blocks>
    </global>
    <frontend>
        <routers>
            <menuentete> <!-- Nom du module -->
                <use>standard</use>
                <args>
                    <module>Moh_MenuEntete</module>
                    <frontName>menuentete</frontName>
                </args>
            </menuentete>
        </routers>
        <layout> <!-- Déclaration du layout -->
            <updates>
                <menuentete> <!-- Nom du module -->
                    <file>menuentete.xml</file>
                </menuentete>
            </updates>
        </layout>
    </frontend>
</config>