<?xml version="1.0"?>
<config>
    <modules>
        <ITwebexperts_Request4quote>
            <version>2.1.20160107</version>
        </ITwebexperts_Request4quote>
    </modules>
    <default>
        <request4quote>
            <billing_address>
                <show_billing_address_for_quote_customer>1</show_billing_address_for_quote_customer>
                <require_billing_address_for_quote_customer>1</require_billing_address_for_quote_customer>
                <show_billing_address_for_quote_admin>1</show_billing_address_for_quote_admin>
                <require_billing_address_for_quote_admin>1</require_billing_address_for_quote_admin>
            </billing_address>
            <shipping_address>
                <show_shipping_address_for_quote_admin>1</show_shipping_address_for_quote_admin>
                <require_shipping_address_for_quote_admin>1</require_shipping_address_for_quote_admin>
            </shipping_address>
        </request4quote>
    </default>
    <frontend>
        <routers>
            <request4quote_front>
                <use>standard</use>
                <args>
                    <module>ITwebexperts_Request4quote</module>
                    <frontName>request4quote</frontName>
                </args>
            </request4quote_front>
        </routers>
        <layout>
            <updates>
                <request4quote>
                    <file>request4quote.xml</file>
                </request4quote>
            </updates>
        </layout>
        <translate>
            <modules>
                <ITwebexperts_Request4quote>
                    <files>
                        <default>ITwebexperts_Request4quote.csv</default>
                    </files>
                </ITwebexperts_Request4quote>
            </modules>
        </translate>
        <events>
            <before_stock_check>
                <observers>
                    <request4quote_observer_stock_check>
                        <type>singleton</type>
                        <class>request4quote/observer</class>
                        <method>beforeStockCheck</method>
                    </request4quote_observer_stock_check>
                </observers>
            </before_stock_check>
            <catalog_product_load_after>
                <observers>
                    <request4quote_observer_product_load>
                        <type>singleton</type>
                        <class>request4quote/observer</class>
                        <method>productLoadAfter</method>
                    </request4quote_observer_product_load>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <request4quote_observer_product_collection_load>
                        <type>singleton</type>
                        <class>request4quote/observer</class>
                        <method>productCollectionLoadAfter</method>
                    </request4quote_observer_product_collection_load>
                </observers>
            </catalog_product_collection_load_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <request4quote_price_block_after>
                        <type>singleton</type>
                        <class>request4quote/observer</class>
                        <method>priceBlockAfter</method>
                    </request4quote_price_block_after>
                </observers>
            </core_block_abstract_to_html_after>
            <!--<checkout_submit_all_after>-->
                <!--<observers>-->
                    <!--<request4quote_order_place_after>-->
                        <!--<class>request4quote/observer</class>-->
                        <!--<method>orderPlaceAfter</method>-->
                    <!--</request4quote_order_place_after>-->
                <!--</observers>-->
            <!--</checkout_submit_all_after>-->
        </events>
    </frontend>
    <admin>
        <routers>
            <request4quote>
                <use>admin</use>
                <args>
                    <module>ITwebexperts_Request4quote</module>
                    <frontName>request4quote_admin</frontName>
                </args>
            </request4quote>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <request4quote>
                    <file>request4quote.xml</file>
                </request4quote>
            </updates>
        </layout>
        <translate>
            <modules>
                <ITwebexperts_Request4quote>
                    <files>
                        <default>ITwebexperts_Request4quote.csv</default>
                    </files>
                </ITwebexperts_Request4quote>
            </modules>
        </translate>
        <menu>
            <request4quote module="request4quote">
                <title>Request4Quote</title>
                <sort_order>72</sort_order>
                <children>
                    <quotes module="request4quote">
                        <title>Manage Quote Requests</title>
                        <sort_order>0</sort_order>
                        <action>request4quote_admin/adminhtml_quote</action>
                    </quotes>
                    <quote_statuses module="request4quote">
                        <title>Manage Quote Statuses</title>
                        <sort_order>10</sort_order>
                        <action>request4quote_admin/adminhtml_quote_status</action>
                    </quote_statuses>
                    <settings module="request4quote">
                        <title>Settings</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/system_config/edit/section/request4quote</action>
                    </settings>
                </children>
            </request4quote>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <request4quote>
                            <title>Request4Quote</title>
                            <children>
                                <quotes>
                                    <title>Manage Quote Requests</title>
                                </quotes>
                                <quote_statuses>
                                    <title>Manage Quote Statuses</title>
                                </quote_statuses>
                                <settings>
                                    <title>Manage Settings</title>
                                </settings>
                            </children>
                        </request4quote>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <request4quote>
                                            <title>IT Web Experts Section - Request4quote Module</title>
                                        </request4quote>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <request4quote_order_place_after>
                        <class>request4quote/observer</class>
                        <method>importQuoteCommentsToOrder</method>
                    </request4quote_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
        <models>
            <request4quote>
                <class>ITwebexperts_Request4quote_Model</class>
                <resourceModel>request4quote_resource</resourceModel>
            </request4quote>
            <request4quote_resource>
                <class>ITwebexperts_Request4quote_Model_Resource</class>
                <deprecatedNode>request4quote_mysql4</deprecatedNode>
                <entities>
                    <quote>
                        <table>request4quote_flat_quote</table>
                    </quote>
                    <quote_item>
                        <table>request4quote_flat_quote_item</table>
                    </quote_item>
                    <quote_item_option>
                        <table>request4quote_flat_quote_item_option</table>
                    </quote_item_option>
                    <quote_address>
                        <table>request4quote_flat_quote_address</table>
                    </quote_address>
                    <quote_address_item>
                        <table>request4quote_flat_quote_address_item</table>
                    </quote_address_item>
                    <quote_address_shipping_rate>
                        <table>request4quote_flat_quote_shipping_rate</table>
                    </quote_address_shipping_rate>
                    <quote_payment>
                        <table>request4quote_flat_quote_payment</table>
                    </quote_payment>
                    <quote_status>
                        <table>request4quote_flat_quote_status</table>
                    </quote_status>
                    <quote_status_label>
                        <table>request4quote_flat_quote_status_label</table>
                    </quote_status_label>
                    <comments>
                        <table>request4quote_flat_quote_comments</table>
                    </comments>
                </entities>
            </request4quote_resource>
            <sales>
                <rewrite>
                    <quote_address_total_subtotal>ITwebexperts_Request4quote_Model_Sales_Quote_Address_Total_Subtotal</quote_address_total_subtotal>
                    <quote_address_total_shipping>ITwebexperts_Request4quote_Model_Sales_Quote_Address_Total_Shipping</quote_address_total_shipping>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>ITwebexperts_Request4quote_Model_Tax_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
        </models>
        <resources>
            <request4quote_setup>
                <setup>
                    <module>ITwebexperts_Request4quote</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </request4quote_setup>
            <request4quote_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </request4quote_write>
            <request4quote_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </request4quote_read>
        </resources>
        <blocks>
            <request4quote>
                <class>ITwebexperts_Request4quote_Block</class>
            </request4quote>
            <payperrentals>
                <rewrite>
                    <catalog_product_viewprice>ITwebexperts_Request4quote_Block_Catalog_Product_Viewprice</catalog_product_viewprice>
                </rewrite>
            </payperrentals>
            <catalog>
                <rewrite>
                    <product_view_type_simple>ITwebexperts_Request4quote_Block_Catalog_Product_View_Type_Simple</product_view_type_simple>
                    <product_view_type_grouped>ITwebexperts_Request4quote_Block_Catalog_Product_View_Type_Grouped</product_view_type_grouped>
                    <product_view_type_virtual>ITwebexperts_Request4quote_Block_Catalog_Product_View_Type_Virtual</product_view_type_virtual>
                    <product_view_type_configurable>ITwebexperts_Request4quote_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <request4quote>
                <class>ITwebexperts_Request4quote_Helper</class>
            </request4quote>
        </helpers>
        <template>
            <email>
                <request4quote_emails_quote_submitted module="request4quote">
                    <label>Quote request email</label>
                    <file>rfq/quote_request.html</file>
                    <type>html</type>
                </request4quote_emails_quote_submitted>
                <request4quote_emails_quote_submitted_admin>
                    <label>Quote request email to admin</label>
                    <file>rfq/quote_request_admin.html</file>
                    <type>html</type>
                </request4quote_emails_quote_submitted_admin>
                <request4quote_emails_quote_admin module="request4quote">
                    <label>Quote request processed email</label>
                    <file>rfq/quote_request_processed.html</file>
                    <type>html</type>
                </request4quote_emails_quote_admin>
                <request4quote_emails_quote_accepted module="request4quote">
                    <label>Quote request accept email</label>
                    <file>rfq/quote_request_accepted.html</file>
                    <type>html</type>
                </request4quote_emails_quote_accepted>
                <request4quote_emails_quote_rejected module="request4quote">
                    <label>Quote request reject email</label>
                    <file>rfq/quote_request_rejected.html</file>
                    <type>html</type>
                </request4quote_emails_quote_rejected>
                <request4quote_emails_quote_commentcustomer>
                    <label>Quote request comment update sent to customer</label>
                    <file>rfq/quote_request_comment_update.html</file>
                    <type>html</type>
                </request4quote_emails_quote_commentcustomer>
                <request4quote_emails_quote_commentadmin>
                    <label>Quote request comment update sent to admin</label>
                    <file>rfq/quote_request_comment_update_admin.html</file>
                    <type>html</type>
                </request4quote_emails_quote_commentadmin>
            </email>
        </template>
    </global>
    <default>
        <request4quote>
            <general>
                <enable_shipping_quotes_customer_side>0</enable_shipping_quotes_customer_side>
                <enable_tax_estimates>1</enable_tax_estimates>
                <enable_acceptreject>0</enable_acceptreject>
                <auto_select_status>processed</auto_select_status>
                <auto_select_status_admin>processed</auto_select_status_admin>
                <disable_redirect>0</disable_redirect>
                <disable_redirect_listing>0</disable_redirect_listing>
                <importcomments>1</importcomments>
                <showregularprice>0</showregularprice>
                <shownav>1</shownav>
                <miniquote>1</miniquote>
                <miniquoteclass>header-minicart</miniquoteclass>
                <allowchangequantity>1</allowchangequantity>
            </general>
            <billing_address>
                <show_billing_address_for_quote_customer>1</show_billing_address_for_quote_customer>
                <require_billing_address_for_quote_customer>1</require_billing_address_for_quote_customer>
                <show_billing_address_for_quote_admin>1</show_billing_address_for_quote_admin>
                <require_billing_address_for_quote_admin>1</require_billing_address_for_quote_admin>
            </billing_address>
            <shipping_address>
                <allowchangeshipmethod>1</allowchangeshipmethod>
                <allowchangeshipaddress>1</allowchangeshipaddress>
                <show_shipping_address_for_quote_customer>1</show_shipping_address_for_quote_customer>
                <require_shipping_address_for_quote_customer>1</require_shipping_address_for_quote_customer>
                <show_shipping_address_for_quote_admin>1</show_shipping_address_for_quote_admin>
                <require_shipping_address_for_quote_admin>1</require_shipping_address_for_quote_admin>
            </shipping_address>
            <emails>
                <quote_submitted>request4quote_emails_quote_submitted</quote_submitted>
                <quote_submitted_admin>request4quote_emails_quote_submitted_admin</quote_submitted_admin>
                <quote_admin>request4quote_emails_quote_admin</quote_admin>
                <quote_accepted>request4quote_emails_quote_accepted</quote_accepted>
                <quote_rejected>request4quote_emails_quote_rejected</quote_rejected>
                <quote_commentcustomer>request4quote_emails_quote_commentcustomer</quote_commentcustomer>
                <quote_commentadmin>request4quote_emails_quote_commentadmin</quote_commentadmin>
            </emails>
            <quote_settings>
                <show_pictures_email>1</show_pictures_email>
                <show_pictures_quote>1</show_pictures_quote>
                <attach_pdf>1</attach_pdf>
                <show_comments>1</show_comments>
            </quote_settings>
        </request4quote>
    </default>
</config>
