<?xml version="1.0"?>
<config>
    <modules>
        <Moh_TroisBloc>
            <version>0.1.0</version>
        </Moh_TroisBloc>
    </modules>
    <global>
        <blocks>
            <troisbloc>
                <class>Moh_TroisBloc_Block</class>
            </troisbloc>
        </blocks>
    </global>
    <frontend>
        <routers>
            <troisbloc> <!-- Nom du module -->
                <use>standard</use>
                <args>
                    <module>Moh_TroisBloc</module>
                    <frontName>troisbloc</frontName>
                </args>
            </troisbloc>
        </routers>
        <layout> <!-- Déclaration du layout -->
            <updates>
                <troisbloc> <!-- Nom du module -->
                    <file>troisbloc.xml</file>
                </troisbloc>
            </updates>
        </layout>
    </frontend>
</config>